body{
    background-color: transparent;
    margin: 0;
    font-family: Optima, sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 10px 10px 10px  rgb(147, 219, 233);
}
.header{
    margin: auto;
    width: 80%;
    height: 100px;
    background-color:white;
}
label.logo{
    font-size: 15px;
    font-weight: bold;
    color: #01b3bf;
}
*{
    list-style: none;
    text-decoration: none; 
}
.header ul{
    float: right;
}
.header ul li{
    display: inline-block;
    line-height: 80px;
    margin-right: 15px;
    
}
.header a{
    color: black;
    font-weight: 5px;
    border: 1px ;
    padding: 8px;
    border-radius: 100px;
    
}
.button{
   background-color: #01b3bf;
   padding-right: 20px;
}
ul li a:hover{
    color: #01b3bf;
    
}
.button:hover{
    color: white;
}
hr{
    width: 100%;
}