.main{
    width: 95%;
    margin: auto;
    height: 450px;
}
.welcome{
    width: 50%;
    height: 300px;
    margin-top: 35px;
    padding-left: 50px;
    padding-top: 60px;
    background-color: white;
    letter-spacing: 1px;
    line-height: 40pxx;
    float: left;
}
.welcome h4{
    line-height: 23px;
    color: rgb(108, 108, 108);
    font-weight: 100;
    float: left;  
}
.main-gif{
    padding-top: 40px;
}
.design{
    color: rgb(0, 102, 122);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
